# Selenium & Chrome drivers / browsers
chrome/
chromedriver.exe
geckodriver.exe
*.dll
*.exe
*.zip
*.7z
*.tar
*.gz
*.msi
drivers/

# Virtual environment
venv/
.env/

# IDE & OS
.idea/
__pycache__/
*.log

echo chrome/>> .gitignore
echo drivers/>> .gitignore
echo *.dll>> .gitignore
echo *.exe>> .gitignore
echo *.zip>> .gitignore
echo *.7z>> .gitignore
echo *.tar>> .gitignore
echo *.gz>> .gitignore
echo *.msi>> .gitignore
echo venv/>> .gitignore
echo __pycache__/>> .gitignore
echo *.log>> .gitignore
echo .idea/>> .gitignore

Add-Content .gitignore "chrome/"
Add-Content .gitignore "drivers/"
Add-Content .gitignore "*.dll"
Add-Content .gitignore "*.exe"
Add-Content .gitignore "*.zip"
Add-Content .gitignore "*.7z"
Add-Content .gitignore "*.tar"
Add-Content .gitignore "*.gz"
Add-Content .gitignore "*.msi"
Add-Content .gitignore "venv/"
Add-Content .gitignore "__pycache__/"
Add-Content .gitignore "*.log"
Add-Content .gitignore ".idea/"